/* inicio de Principal */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fff;
}

/* Fin de Principal */

/* --- Inicio --- menu de navegacion y logo  */

#nav {
    width: 100%;
    height: 7vh;
    background-color: #031F40;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid #ffcc00; */
}

#nav ul {
    display: flex;
}

#nav li {
    list-style: none;
    padding: 10px 20px;
}

#nav li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: "Roboto Medium";
    text-transform: uppercase;
    cursor: pointer;
    transition: all 30ms;
}

#nav li a:hover {
    color: #ffcc00;
}

#nav .activado {
    color: #ffcc00;
}

#nav > ul > li > ul{
    display: none;
    position: absolute;
    text-align: center;
    /* box-shadow: 0px 2px 2px #23282B; */
    box-shadow: 1px 1px 3px rgb(0, 37, 3);
}


#nav > ul > li:hover > ul{
    display: block;
    margin: 0px ;
    margin-left: -50px;
    margin-top: 5px;
    list-style: none;
    
}


#nav > ul > li:hover > ul > li{
    background-color: #ddd;
    color: #333;
    line-height: 25px;
    font-size: 12px;
    padding: 0px;
    transition: all 300ms;
   
}


#nav > ul > li:hover > ul > li > a{
    display: block;
    width: 130px;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    transition: all 150ms;
}

#nav > ul > li:hover > ul > li > a:hover{
    /* background-color: hsl(73, 45%, 37%);  */
    text-shadow: 1px 2px 10px rgb(0, 37, 3);
    box-shadow: 1px 1px 7px black;
    border: 1px solid rgb(24, 18, 18);

}

#nav > ul > li:hover > ul > li:hover > a{
    color: #ffcc00;
    background-color: #031F40;
    font-size: 12px;

}



/* --- Fin --- menu de navegacion y logo  */

/* --- inicio --- cabecera  */

.header {
    /* imagen redonda de fondo  */
    background-image: url("../images/bg-completo.png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: 50% 72%;
    width: 100%;
    height: 76vh;
    padding-bottom: 50px;
    /* border: 2px solid red; */
}

.hd-content {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.hd-content .description {
    width: 35%;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;
    /* border: 2px solid white; */
}

.hd-content .description p {
    color: white;
    font-size: 30px;
    font-family: "Montserrat";
    margin-bottom: 20px;
}

.btn {
    margin-top: 20px;
    background-color: #ffcc00;
    color: #031F40;
    cursor: pointer;
    padding: 8px 35px;
    border: none;
    font-family: "Roboto";
    border-radius: 20px;
    text-decoration: none;
    font-size: 13px;
    transition: all 30ms;
}

.btn:hover {
    background-color: #031F40;
    color: #fff;
}

.hd-content .img-header {
    width: 35%;
    /* margin-left: -35px; */
    margin-top: -70px;
    /* border: 2px solid red; */
}

.hd-content .img-header img {
    width: 450px;
}

/* REDES  */

.redes {
    width: 100%;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    /* border: 3px solid #ffcc00; */
}

.redes img {
    width: 50px;
    margin-right: 10px;
    
}

/* --- Fin --- cabecera  */

/* --- Inicio --- About  */

.about {
    width: 100%;
    display: flex;
    justify-content: center;
}


.about .img-about {
    width: 40%;
    margin-right: 40px;
}

.about .img-about img {
    width: 100%;


}

.about .desc-about {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about .desc-about h2 {
    font-family: "Roboto Black";
    font-size: 32px;
    color: #031F40;
    margin-bottom: 15px;
}

.about .desc-about p {
    font-family: "Montserrat";
    font-size: 18px;
    color: #031F40;
}

/* --- Fin --- About  */

/* --- Inicio --- Services  */

.services {
    width: 100%;
}

.services h1 {
    font-family: "Roboto Black";
    font-size: 32px;
    color: #031F40;
    text-align: center;
    margin-top: 35px;
}

.services .items-services {
    display: flex;
    margin-top: 35px;
}

.items-services .item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    /* border: 2px solid #031F40; */
}

.items-services .item img {
    width: 70%;
}

.items-services .item h3 {
    font-family: "Roboto Black";
    color: #031F40;
    font-size: 24px;
    text-align: center;
}

.items-services .item p {
    font-family: "Montserrat";
    color: #031F40;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.items-services .item .btn {
    margin-top: 25px;
    margin-bottom: 40px;
}

.az1 {
    background-color: #eef1ff;
}

.az2 {
    background-color: #d2daff;
}

.az3 {
    background-color: #aac4ff;
}

/* --- Fin --- Services  */

/* --- Inicio --- Options  */

.opinions {
    width: 100%;
}

.opinions h1 {
    font-family: "Roboto Black";
    font-size: 32px;
    color: #031F40;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.items-opinions {
    display: flex;
    justify-content: space-around;
}

.item-opin {
    width: 20%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-opin img {
    width: 50%;
    border-radius: 50%;
}

.item-opin h3 {
    font-family: "Roboto";
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 7px;
    color: #031F40;
}

.item-opin p {
    font-family: "Montserrat";
    font-size: 12px;
    color: #031F40;
    margin-bottom: 10px;
    text-align: center;
}

.estrellas {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0px auto;
}

.estrellas img {
    width: 20px;
    margin: 0px 3px;
}

/* --- Fin --- Options  */
/* --- Inicio --- Phrases  */

.phrases {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* border-top: 1px solid #031F40; */
    /* box-shadow: 0px 0px 5px #333; */
}

.phrases img {
    width: 20%;
    margin-bottom: 10px;
}

.phrases p {
    width: 50%;
    font-size: 34px;
    font-family: "Montserrat";
    color: #031F40;
    text-align: center;
    margin-bottom: 15px;
}

.phrases span {
    /* width: 50%; */
    font-size: 12px;
    font-family: "Roboto Black";
    color: #031F40;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}

/* --- Fin --- Phrases  */
/* --- Inicio --- Footer  */

#footer {
    width: 100%;
    /* background-color: #031F40; */
    background-image: url("../images/bg-footer.png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: 50% 23%;
    padding-top: 100px;
    padding-bottom: 20px;
}

#footer h1 {
    font-family: "Roboto";
    font-size: 32px;
    color: #fff;
    width: 50%;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1.7px solid #11324D;

}

#footer .foot-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#footer .foot-logo,
#footer .foot-data,
#footer .foot-form {
    width: 33%;
    /* border-top: 0.7px solid #11324D; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 20px;
}

#footer .foot-logo img {
    width: 60%;
    margin-bottom: 50px;
}

#footer .foot-data {
    text-align: center;
}

#footer .foot-data h3 {
    font-family: "Roboto";
    font-size: 14px;
    color: #5599ff;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#footer .foot-data p {
    font-family: "Montserrat";
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

#footer .redes {
    width: 150px;
}

#footer .redes img {
    width: 40px;
}

#footer .foot-form form {
    background-color: #11324D;

    padding: 30px 30px;
    padding-bottom: 40px;
    border-radius: 10px;
}

#footer .foot-form h3 {
    font-family: "Roboto";
    color: #fff;
    margin-bottom: 10px;
}

#footer .foot-form input {
    display: block;
    padding: 12px 20px;
    margin-top: 15px;
    border-radius: 7px;
}

#footer span {
    display: block;
    margin: 0px auto;
    text-align: center;
    color: #aac4ff;
    font-family: "Montserrat";
    font-size: 12px;
    border-top: 0.7px solid #11324D;
    padding-top: 15px;
}

/* --- Fin --- Footer  */

.separador {
    width: 50%;
    /* height: 1px; */
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    background-color: #eee;
    /* border: 1px solid #031F40; */
    box-shadow: 0px 0px 5px #444;
}

/* contenido de las paginas */

.content-pg {
    /* border: 1px solid #031F40;  */
    display: block;
    width: 80%;
    /* min-height: 100vh; */
    margin: 20px auto;
    padding: 50px;
    /* box-shadow: 0px 1px 10px #333; */
}

.title-pg {
    font-family: "Roboto Black";
    color: #031F40;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid #11324D; */
    /* border-radius: 15px;
    box-shadow: 0px 1px 10px #333; */
    display: block;
    width: 40%;
    margin: 0px auto;

}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.desc-team,
.img-team {
    width: 40%;
}

.desc-team h1 {
    font-family: "Roboto Black";
    font-size: 32px;
    color: #031F40;
    /* margin-bottom: 15px; */
}

.desc-team p {
    font-family: "Montserrat";
    font-size: 18px;
    color: #031F40;
    margin-top: 15px; 
    margin-bottom: 10px;
}

.desc-team span {

    font-family: "Montserrat Italic";
    font-size: 14px;
    color: #222;
    
}

.img-team img {
    width: 80%;
    border-radius: 50%;
    margin-left: 40px;
    filter: grayscale(1);

}

.redesLeft {

    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.redesLeft img {
    width: 35px;
    margin-right: 5px;
    margin-top: 15px;
}


.items-services-pg{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-pg{
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-item-pg,
.desc-item-pg{
    width: 30%;
}

.img-item-pg img{
    width: 100%;
}

.desc-item-pg h3{
    font-family: "Roboto Black";
    font-size: 32px;
    color: #031F40;
    margin-bottom: 15px;
}

.desc-item-pg p {
    font-family: "Montserrat";
    font-size: 18px;
    color: #031F40;
    margin-bottom: 18px;
}


/* pagina de servicios individuales */

.head-pg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
}

.img-pg,
.desc-pg{
    width: 40%;
    /* border: 1px solid #ffcc00; */

}

.img-pg img{
    width: 100%;
}

.desc-pg h1{
    font-family: "Roboto Black";
    font-size: 58px;
    color: #031F40;
    width: 100%;
}


.desc-pg p{
    font-family: "Montserrat";
    font-size: 28px;
    color: #031F40;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 7px;
}

.desc-pg span{
    font-family: "Montserrat Italic";
    font-size: 14px;
    color: #222;   
}

.cont-pg{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 80px;
    /* border: 1px solid #031F40; */
}

.cont-pg h2{
    text-align: start;
    font-family: "Roboto";
    font-size: 24px;
    color: #031F40;
    margin-bottom: 18px;
}

.cont-pg p{
    width: 100%;
    font-family: "Montserrat";
    color: #031F40;
    font-size: 14px;
    text-align: justify;
}

.cont-text{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}


/* pagina de docntacot */

.cont-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-contact,
.form-contact{
    width: 40%;
}

.image-contact img{
    width: 100%;
}

.form-contact textarea,
.form-contact input[type="email"],
.form-contact input[type="text"]{
    display: block;
    width: 60%;
    padding: 10px;
    margin: 5px auto;
}

.input-width textarea,
.input-width input[type="email"],
.input-width input[type="text"]{
    width: 85%;
    margin: 0px;
    margin-bottom: 5px;
}

.color_contact{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2daff;
    padding: 50px 20px;
    margin: 20px auto;
    margin-bottom: 30px;
}

.color_contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.info-contact{
    width: 90%;
    text-align: justify;
    font-family: "Montserrat";
    font-size: 14px;
    color: #031F40;
    margin-bottom: 20px;
}

.sub-contact{
    font-family: "Roboto";
    /* font-weight: bold; */
    font-size: 24px;
    color: #031F40;
    margin-bottom: 25px;
}

.send-info{
    width: 82%;
    padding: 20px;
    background-color: #ffcc00;
    text-align: justify;
    font-family: "Montserrat";
    font-size: 14px;
    color: #031F40;
    margin-bottom: 20px;
    border-radius: 10px;
}
.send-info span{
    font-family: "Montserrat SemiBold";
    text-transform:capitalize;
}

.btn-work{
    display: block;
    width: 60%;
    cursor: pointer;
    margin: 35px auto;
    background-color: #ffcc00;
    color: #031F40;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 20px;
    font-family: "Roboto";
    font-size: 14px;
    transition: all 30ms;

}

.btn-work:hover{
    background-color: #031F40;
    color: #fff;
}




/* articles  */


.article-item{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #23282B;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Montserrat";
}


.article-item .image{
    width: 40%;

}

.article-item .image img{
    width: 100%;
}

.article-item .data{
    width: 50%;
    padding: 25px;
    padding-left: 45px;
    padding-top: 0px;
    margin-left: 40px;
}

.article-item h3{
    display: block;
    font-family: "Roboto";
    font-size: 23px;
    color: #23282B;
    margin-bottom: 7px;
}

.article-item h3 > a{
    font-family: "Roboto Black";
    font-size: 32px;
    color: #031F40;
    margin-bottom: 15px;
    text-decoration: none;
}

.article-item h3 > a:hover{
    /* color:white; */
    border-bottom: 2px solid #031F40;
}

.article-item .btn{
    display: block;
    width: 100px;
    padding: 7px;
    background-color: green;
    color: #D1D4D6;
    /* border: 1px solid white; */
    border-radius: 10px 10px;
    box-shadow: 1px 1px 5px black;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    transition: 300ms all;
}

.article-item span{
    font-family: "Montserrat Italic";
    font-size: 14px;
    color: #222;
    margin-bottom: 15px;
}

.article-item span a{
    font-family: "Montserrat Italic";
    font-size: 14px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
}

.article-item p{
    margin-top: 15px;
    font-family: "Montserrat";
    font-size: 16px;
    color: #333;
}

.article-item p > a{
    margin-top: 15px;
    font-family: "Montserrat";
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.article-item .btn:hover{
    background-color: greenyellow;
    color: black;
    box-shadow: 1px 1px 10px gray;
}

.clearfix{
    clear: both;
    float: none;
}


/* CONTENIDO DE ARTICULO */

.hd-article{
    display: flex;
    justify-content: space-between;
}

.t-article{
    /* border: 1px solid red; */
    width: 40%;
}

.t-article h1{
    font-family: "Roboto Black";
    font-size: 54px;
    color: #031F40;    
    margin-bottom: 7px;
}

.t-article span{
    font-family: "Montserrat Italic";
    font-size: 14px;
    color: #222;
}

.t-article p{
    font-family: 'Montserrat Light';
    font-size: 20px;
    margin-top: 10px;
}

.img-article{
    /* border: 1px solid blue; */
    width: 55%;
}

.img-article img{
    width: 100%;
}

.p-article{
    width: 100%;
    margin: 0px auto;
    margin-top: 45px;
}

.p-article h2{
    font-family: 'Montserrat SemiBold';
    font-size: 26px;
    margin-bottom: 15px;
}

.p-article p{
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 24px;
}

.p-article p a{
    text-decoration: none;
    color: #031F40;
    font-weight: bold;
}

.p-article p a:hover{
    color: #ffcc00;
}

.p-article ul{
    font-family: 'Montserrat';
    font-size: 18px;
    padding-left: 20px;
    line-height: 24px;
}

.p-article ul li{
    padding-left: 20px;
}

.aut-article{
    background-color: #031f4021;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0px;
    border: 1px solid #031F40;
}

.img-autor{
    width: 20%;
}

.img-autor img{
    width: 100%;
    border-radius: 50%;
}

.data-autor{
    width: 50%;
}

.data-autor span{
    color: #333;
    font-size: 20px;
    font-family: "Montserrat SemiBold";
}

.data-autor h2{
    color: #444;
    font-size: 45px;
    font-family: "Roboto Black";
}

.data-autor .redes{
    justify-content: left;
    margin-top: 20px;
}

.data-autor .redes img{
    width: 30px;
}


.paginatior{
    font-family: "Montserrat";
    color: #222;
    font-size: 14px;
    text-align: center;
}

.paginatior span{
    margin-left: 10px;
    margin-right: 10px;
}

.paginatior a {
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

.paginatior a:hover {
    color: #ffcc00;
}